[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
mypy = "*"
pymongo = "*"
mongomock = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"

[scripts]
lint = "pylint ./src"
test = "python -m unittest discover ./src"
